{% extends 'locari_app/base.html' %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Webでかんたんフリマサービス</h1>
        <p>ローカリはスマホカメラからすぐに出品できる
購入時も安心な独自システムのアプリです</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>簡単に出品できる</h2>
          <p>売りたいものと金額を設定するだけ！</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>すぐに購入できる</h2>
          <p>ボタン一つで即購入</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>商品がたくさん</h2>
          <p>あったらいいな</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

    </div> <!-- /container -->
{% endblock %}
