{% extends 'locari_app/base.html' %}
{% block content %}
  <div class="container jumbotron" style="margin-top: 60px;width: 600px;">

    <form class="form">
      <h2>商品情報を入力</h2>
      <label for="inputEmail">商品名</label>
      <input type="text" id="title" class="form-control" placeholder="アルゴの教科書" required autofocus>
      <label for="price">値段</label>
      <input type="number" id="price" class="form-control" placeholder="1000" required>
      <label for="comment">値段</label>
      <textarea id="comment" class="form-control" placeholder="コメント" rows="3" required></textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit">出品する</button>
    </form>

  </div>
{% endblock %}