{% extends 'locari_app/mypage_base.html' %}
{% block main %}
  <div class="container" style="margin-top: 60px">
    <h2>ほしい物リスト</h2>
    <div class="col-sm-4">
      <a href="{% url 'locari_app:edit_wish' %}">
        <h3>Wanted!</h3>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        推奨機
        10000円
      </a>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'locari_app:edit_wish' %}">
        <h3>Wanted!</h3>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        MacBookPro
        20000円
      </a>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'locari_app:edit_wish' %}">
        <h3>Wanted!</h3>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        Arduino
        3000円
      </a>
    </div>
  </div>
{% endblock %}
